
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    padding: 15px 300px;
    
}

header, footer{
    background: #1F2937;
}

.header-nav{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links{
    display: flex;
    gap: 20px;
}

.header-links a, 
.hero-secondary-text{
    color: #E5E7EB;
    font-size: 18px;
}

.header-links a{
    text-decoration: none;
}

.header-content{
    display: flex;
    flex: 1;
    gap: 40px;
    justify-content: space-between;
    align-items: center;

}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.information, 
.quote-container, 
.call-to-action,
.sign-up-container,
.card-container,
footer{
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.information{
    flex-direction: column;
    flex: 1 1 400px;
}

.information-header{
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.card-container{
    text-align: center;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
}   

.quote-container{
    flex-direction: column;
    flex: 1 1 400px;
    flex-grow: 1;
    background-color: #E5E7EB;
    padding: 0 420px;
}

.quotee{
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
}

.quote-text{
    font-size: 36px;
}

.call-to-action{
    height: 300px
}

.sign-up-container{
    color:#E5E7EB;
    background-color: #3882F6;
    padding: 40px 80px;
    gap: 10px;
    border-radius: 5px;
}


button{
    padding: 10px 40px;
    border-radius: 5px;
    color:#E5E7EB;
    font-weight: bold;
    background-color: #3882F6;
}

.hero-text button{
    border-style: none;
    margin-top: 10px;
}

.sign-up-container button{
    border: 1px solid white;
    margin-left: 20px;
}
footer{
    color:#E5E7EB;
    display: flex;
    height: 60px;

}

footer a,
.header-image p,
.header-image a{
    color: #E5E7EB;  
}

.card img{
    border: 7px solid #3882F6;
    border-radius: 3px;
    width: auto;
}


.header-image img{
    height: 200px;
    width: auto;
}

